<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-outline-primary save-button">Confirm</button>
</div>