<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Dapper.Net repository pattern demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
    @*
        <!--4.2.1-->
        <link href="~/bootstrap.min.css" rel="stylesheet">
        <!--1.14.2-->
        <link href="~/bootstrap-table.min.css" rel="stylesheet">

        <!--3.3.1-->
        <script src="~/jquery-3.3.1.min.js"></script>
        <!--1.14.6-->
        <script src="~/popper.min.js"></script>
        <!--1.19.0-->
        <script src="~/jquery.validate.min.js"></script>
        <!--3.2.11-->
        <script src="~/jquery.validate.unobtrusive.min.js"></script>
        <!--4.2.1-->
        <script src="~/bootstrap.min.js"></script>
        <!--1.14.2-->
        <script src="~/bootstrap-table.min.js"></script>
    *@

</head>
<body>
    <div class="container">
        <h2 style="text-align: center; color: #ffffff; background-color: #c0c0c0;">Demo based on Dapper.Net repository pattern</h2>
        <h3 style="text-align:center;color:#ea2d44;">国内访问若有点慢，请见谅，因为是我租的是国外VPS<br />服务器（CentOS）配置（内存：2G，宽带（共享）：50Mbps）</h3>
        @RenderBody()
        <hr />
        <footer>
            <h3 style="text-align: center;">Author:HuangZhongQiu</h3>
        </footer>
    </div>
</body>
</html>