@model DapperRepo.Web.Models.Customers.CustomerModel

@await Html.PartialAsync("Modals/_ModalHeader", "Edit Customer")
<form id="edit-customer-form">
    <div class="modal-body">
        <input type="hidden" value="@Model.Id" id="Id" name="Id" />
        <div class="form-group">
            <label class="col-md-3">Username</label>
            <div class="col-md-9">
                <input id="Username" name="Username" class="form-control" type="text" value="@Model.Username" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">Email</label>
            <div class="col-md-9">
                <input id="Email" name="Email" class="form-control" type="email" value="@Model.Email" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">Active</label>
            <div class="col-md-9">
                <input id="Active" name="Active" type="checkbox" @(Model.Active ? "checked=checked" : "")>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("Modals/_ModalFooter")
</form>
<script src="~/view-resources/customer/editModal.js" asp-append-version="true"></script>