@model DapperRepo.Web.Models.Customers.CustomerModel
@{
    Layout = "";
    string viewName = ViewBag.ViewName;
}
<link href="~/layui/css/layui.css" rel="stylesheet" />

<style>
    .customer-form {
        padding: 10px;
    }
</style>

<form class="layui-form layui-form-pane customer-form">

    @await Html.PartialAsync(viewName, Model)

</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script src="~/js/pop-customer.js"></script>