@model DapperRepo.Web.Models.Customers.CustomerModel
@{
    Layout = "";
    string viewName = ViewBag.ViewName;
}

<link href="~/lib/layui/css/layui.css" rel="stylesheet" />

<style>
    .customer-form {
        padding: 10px;
    }
</style>

<form class="layui-form layui-form-pane customer-form">

    @await Html.PartialAsync(viewName, Model)

</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/layui/layui.js"></script>
<script src="~/view-resources/layui/customer/pop-customer.js"></script>