
@{
    ViewData["Title"] = "KendouiList";
}

@section CssList{
    <link href="~/lib/kendo-ui/styles/kendo.silver.min.css" rel="stylesheet" />
}

<form id="search-form">
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="search-username" class="col-sm-2">Username</label>
            <div class="col-sm-10">
                <input type="text" placeholder="Please input username" class="form-control k-textbox" id="search-username">
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="search-email" class="col-sm-2">Email</label>
            <div class="col-sm-10">
                <input type="email" placeholder="Please input email" class="form-control k-textbox" id="search-email">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">
            <button type="button" id="btn-search" class="k-button">
                <span class="k-icon k-i-search"></span> Search
            </button>
        </div>
    </div>
</form>

<div id="customer-grid"></div>

@section Scripts{
    <script src="~/lib/kendo-ui/js/kendo.web.min.js"></script>
    <script src="~/view-resources/kendoui/customer/list.js" asp-append-version="true"></script>
}