@model string
<div class="modal-header">
    <h5 class="modal-title">@Html.Raw(Model)</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
