@model DapperRepo.Web.Models.Customers.CustomerModel
@{
    Layout = "";
}

<div class="layui-form-item">
    <label for="Username" class="layui-form-label">Username</label>
    <div class="layui-input-block">
        <input type="text" class="layui-input" id="Username" placeholder="Please input your name">
    </div>
</div>
<div class="layui-form-item">
    <label for="Email" class="layui-form-label">Email</label>
    <div class="layui-input-block">
        <input type="email" class="layui-input" id="Email" placeholder="Please input your email address">
    </div>
</div>

<div class="layui-form-item">
    <label for="Active" class="layui-form-label">Active</label>
    <div class="layui-input-block">
        <input type="checkbox" id="Active" lay-skin="switch" lay-text="YES|NO" checked="checked">
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-input-block">
        <button type="button" class="layui-btn" id="btn-create">Add</button>
    </div>
</div>