@model DapperRepository.Web.Models.Customers.CustomerModel
@{
    Layout = "";
    string viewName = ViewBag.ViewName;
}

<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<style>
    .customer-form {
        padding: 10px;
    }
</style>

<form class="layui-form layui-form-pane customer-form">

    @Html.Partial(viewName, Model)

</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="~/Content/layui/layui.js"></script>
<script src="~/Scripts/pop-customer.js"></script>