@model DapperRepository.Web.Models.Customers.CustomerModel
@{
    ViewBag.Title = "Index";
}
<style>
    a.edit a.remove {
        color: #007bff;
    }
</style>

<h4>Data List(data source from database：@ViewBag.DbSource)</h4>
<div class="clearfix">
    <h5 class="pull-left">

        <span style="display:none;">
            <input type="number" id="insert-num" style="margin-top:5px;" class="form-control" placeholder="请输入要插入测试数据的数量" />
            <button type="button" id="insert-sample-customer" class="btn btn-primary">Insert Sample Customer</button>
        </span>
    </h5>
</div>
<div class="form-horizontal">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label" for="search-username">Username</label>
                    <div>
                        <input type="text" class="form-control" id="search-username">
                        <span id="span-search-username" style="color:#ff0000;"></span>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label" for="search-email">Email</label>
                    <div>
                        <input type="text" class="form-control" id="search-email">
                        <span id="span-search-email" style="color:#ff0000;"></span>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" onclick="add()" data-toggle="modal" data-target="#operationModal">Add Customer</button>
                    <button type="button" id="btn-search" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top:15px;">
    <table id="customer-table" class="table table-bordered"></table>
</div>

<div class="modal fade" id="operationModal" tabindex="-1" role="dialog" aria-labelledby="operationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="operationModalLabel">Add Customer</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Username">Name</label>
                        <input id="Username" name="Username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input id="Email" name="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="@Model.RoleId">Role</label>
                        @Html.DropDownListFor(model => model.RoleId, Model.AvailableRoles, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="Active">Active</label>
                        <input id="Active" name="Active" type="checkbox" />
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="btn btn-primary" id="btnAdd">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;">Update</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div>
    <h2>For more info:</h2>
    Blog Address: <a href="https://www.cnblogs.com/YUTOUYUWEI/p/10450953.html" target="_blank">BLOG</a>
    <br />
    <br />
    Git Address: <a href="https://github.com/Olek-HZQ/DapperRepository" target="_blank">Dapper and Repository Pattern in MVC </a>
</div>
<script src="~/Scripts/customer.js"></script>