@{
    ViewBag.Title = "CustomerList";
}

<h2 style="text-align: center;">
    The current data source is from <strong>@ViewBag.DbSource</strong> and response server is <strong>SERVER1</strong>
</h2>
<br />

<form class="layui-form layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">Username</label>
        <div class="layui-input-block">
            <input type="text" id="search-name" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-item">
            <label class="layui-form-label">Email</label>
            <div class="layui-input-block">
                <input type="text" id="search-email" class="layui-input">
            </div>
        </div>
    </div>
</form>

<div>
    <button class="layui-btn" onclick="add()">Add Customer</button>
    <button id="btn-search" class="layui-btn">Search</button>
</div>

<table class="layui-hide" id="customer-table" lay-filter="customer"></table>

<script type="text/html" id="customer-right-bar">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">Edit</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">Delete</a>
</script>
<script src="~/Scripts/customer-list.js"></script>
